### List Comprehensions (listcomp)

In [11]:
symbols = "%^#@!"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[37, 94, 35, 64, 33]

In [24]:
# listcomp -> goal is to build new list
codes = [ord(sym) for sym in symbols]
codes

[37, 94, 35, 64, 33]

In [25]:
# walrus operator
codes = [last := ord(sym) for sym in symbols]
last

33

In [28]:
# sym varibale gone, it only existed inside listcomp 
sym

NameError: name 'sym' is not defined

In [30]:
[ord(sym) for sym in symbols if ord(sym) >  60]

[94, 64]

In [31]:
list(filter(lambda x: x > 60, map(ord, symbols)))

[94, 64]

In [36]:
# cartesian product using listcomp
colors = ["black", "while"]
sizes = ['S', 'M', 'L']

tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('while', 'S'),
 ('while', 'M'),
 ('while', 'L')]

In [37]:
# line break in listcomp for readability 
tshirts = [(color, size) for color in colors
                         for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('while', 'S'),
 ('while', 'M'),
 ('while', 'L')]

### Generator Expressions (genexp)

same syntax as listcomp but enclosed in parentheses rathern than brackets

In [38]:
tuple(ord(sym) for sym in symbols)

(37, 94, 35, 64, 33)

In [39]:
import array

array.array('I', (ord(sym) for sym in symbols))

array('I', [37, 94, 35, 64, 33])

In [41]:
for tshirt in ((color, size) for color in colors for size in sizes):
    print(tshirt)

('black', 'S')
('black', 'M')
('black', 'L')
('while', 'S')
('while', 'M')
('while', 'L')

### Tuples

In [43]:
cordinates = (33.9425, -118.408056)
lat, lon = cordinates

lat, lon

(33.9425, -118.408056)

In [44]:
traveler_ids = [('IND', 112233), ("USA", 445566), ("JP", 778800)]

for country, _ in traveler_ids:
    print(country)

IND
USA
JP

In [46]:
# Tuples as immutable lists
k = (1, 2, 3)

k[0] = 10

TypeError: 'tuple' object does not support item assignment

In [49]:
# How ever if one of the reference object is mutable 

a = (10, 'alpha', [1 ,2])
b = (10, 'alpha', [1 ,2])

a == b

True

In [50]:
b[-1].append(99)

a == b

False

In [51]:
b

(10, 'alpha', [1, 2, 99])

(1, 2, 3, 1, 2, 3)

### Unpacking Sequences and Iterable

In [56]:
cordinates = (33.9425, -118.408056)
lat, lon = cordinates   # unpacking

lat, lon

(33.9425, -118.408056)

In [58]:
divmod(20, 8)

(2, 4)

In [60]:
t = (20, 8)
q, r = divmod(*t) # unpacking
q, r

(2, 4)

In [64]:
# using * to grab excess item

a, b, *rest = range(10)
a, b, rest

(0, 1, [2, 3, 4, 5, 6, 7, 8, 9])

In [66]:
a, b, *rest = range(3)
a,b, rest

(0, 1, [2])

In [67]:
a, b, *rest = range(2)
a,b, rest

(0, 1, [])

In [68]:
head, *body, tail = range(5)
head, body, tail

(0, [1, 2, 3], 4)

In [73]:
def func(a,b,c,d, *rest):
    return a , b, c, d, rest

func(*[1,2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [70]:
*range(4), 4

(0, 1, 2, 3, 4)

In [71]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [78]:
# nested Unpacking
cities = [
    ('Tokyo', 'JP', 36.93, (35.689, 139.691)),
    ('New York', 'US', 22.34, (40.7128, -74.0060)),
    ('Paris', 'FR', 18.75, (48.8566, 2.3522)),
    ('Mumbai', 'IN', 29.58, (19.0760, 72.8777)),
    ('Sydney', 'AU', 24.81, (-33.8688, 151.2093))
]

print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for name, _, _, (lat, lon) in cities:
    print(f"{name:15} | {lat:>9.4f} | {lon:>9.4f}")

                |  latitude | longitude
Tokyo           |   35.6890 |  139.6910
New York        |   40.7128 |  -74.0060
Paris           |   48.8566 |    2.3522
Mumbai          |   19.0760 |   72.8777
Sydney          |  -33.8688 |  151.2093

### Pattern Matching with Sequences

In [106]:
class InvalidCommand(Exception):
    pass

def handle_command(msg: list) -> str:
    match msg:
        case ['BEEPER', freq, times]: return f"Beeping: freq: {freq} times: {times}"
        case ['NECK', angle]: return f"NECK: angle: {angle}"
        case ['LED', ident, intensity]: return "LED: ident: {ident} intensity: {intensity}"
        case ['LED', ident, red, green, blue]: return f"LED: ident: {ident} red:{red} green:{green} blue:{blue}"
        case _: raise InvalidCommand("command not dound")

print(handle_command(['NECK', 10]))
print(handle_command(['LED', 10, 234, 125, 117]))

print(handle_command(['Ok', 20]))

NECK: angle: 10
LED: ident: 10 red:234 green:125 blue:117

InvalidCommand: command not dound

In [108]:
### str, bytes, bytesarry are not handled as sequences in the contex of match/case

def phone_country(phone_num: str) -> str:
    match tuple(phone_num):
        case [str(n), *rest] if n == "1": return "North AMerica"   # str(n) is not constructor call to typecaste to string but here  str(n) validates that n must be n
        case [str(n), *rest] if n == "2": return "Africa and territories"
        case [str(n), *rest] if n == "3": return "Europe"
        case _: return "default"

print(phone_country("123456"))
print(phone_country("3456789"))

North AMerica
Europe

### Slices

In [111]:
l = [10, 20, 30, 40, 50, 60]
print(l[:2])
print(l[2:])

[10, 20]
[30, 40, 50, 60]

In [112]:
s = "bicycle"
s[::3]

'bye'

In [114]:
# reverse
s[::-1]

'elcycib'

In [117]:
icy = slice(1, 4)
s[icy]

'icy'

In [ ]:
# Using + and * with Sequence

In [122]:
[1,2, 3] +  [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [123]:
l = [1,2, 3] * 3
l

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [118]:
# BEaware for sequence containing mutable items, foexample:
po = [[]] *3
po

[[], [], []]

In [120]:
po[0].append(10)
po

[[10], [10], [10]]

In [127]:
# ALL THREE REFERENCE OF SAME LIST
weird_board = [['_']*3] *3   
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [128]:
weird_board[1][2] = 'o'
weird_board

[['_', '_', 'o'], ['_', '_', 'o'], ['_', '_', 'o']]

In [133]:
# different innter list
board = [ ['_'] *3  for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [132]:
board[2][0] = 'X'
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

In [142]:
class MyListOne(list):
    def __add__(self, l):
        return super().__add__(l)

In [143]:
MyListOne([1,2,3]) +[1]

[1, 2, 3, 1]

In [147]:
t = (1, 2, [30, 40])
t[2] += [50,60]

TypeError: 'tuple' object does not support item assignment

In [148]:
t

(1, 2, [30, 40, 50, 60])

In [150]:
import dis
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

In [27]:
fruits = ["grape", "raspberry", "apple", "banana"]
print(sorted(fruits))
print(sorted(fruits, reverse=True))
print(sorted(fruits, key=len))
print(sorted(fruits, key=lambda x: x[-1]))

['apple', 'banana', 'grape', 'raspberry']
['raspberry', 'grape', 'banana', 'apple']
['grape', 'apple', 'banana', 'raspberry']
['banana', 'grape', 'apple', 'raspberry']

In [28]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

### Arrays

if list only contains number array.arry is more efficient

In [2]:
import array

In [6]:
array.typecodes

'bBuhHiIlLqQfd'

In [21]:
arr = array.array("I", range(10))

In [22]:
with open("num.bin", 'bw') as fp:
    arr.tofile(fp)

In [ ]:
with open("num.bin", 'br') as fp:
    arr.fromfile(fp, 5)

arr

array('I', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 1, 2, 3, 4])

### Memoryview

In [48]:
octets = array.array("I", range(6))
octets

array('I', [0, 1, 2, 3, 4, 5])

In [53]:
m1 = memoryview(octets)
m1.cast('b').tolist()

[0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5, 0, 0, 0]

In [7]:
a

{(1,): 10}