### Treating a Function like an object

In [1]:
def factorial(n):
    """ return n!"""
    return 1 if n < 2 else n * factorial(n-1)

factorial(5)

120

In [6]:
factorial.__doc__

'return n!'

In [7]:
type(factorial)

function

In [8]:
fact = factorial
fact

In [9]:
fact(4)

24

In [10]:
list(map(factorial, range(5)))

[1, 1, 2, 6, 24]

### Higher order function
A function that takes function as an argument  or return function are higher order function

In [12]:
name = ['mini', 'coco', 'kiki', 'raya', 'nova']
sorted(name, key=lambda x: x[-1])

['raya', 'nova', 'mini', 'kiki', 'coco']

In [13]:
from functools import reduce
from operator import add

In [15]:
reduce(add, range(10))

45

In [18]:
add(1,2)

3

### Anonymous Function

In [19]:
name

['mini', 'coco', 'kiki', 'raya', 'nova']

In [20]:
sorted(name, key=lambda x: x[::-1])

['nova', 'raya', 'kiki', 'mini', 'coco']



To determine weather an object is callbale, use the callbale() built-in functions

### User-Defined Callable types

In [21]:
import random
class BingoCage:
    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)
    
    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError("pick from empty bingoCage")
    
    def __call__(self):
        return self.pick()

In [22]:
bingo = BingoCage(range(3))
bingo()

2

In [23]:
callable(bingo)

True

### Positional-only Parameters

In [29]:
def divmod(a, b):
    return (a//b, a%b)

In [30]:
divmod(a=1, b=2)

(0, 1)

In [31]:
def div_mod(a, b, /):
    return (a//b, a%b)

In [32]:
div_mod(a=1,b=2)

TypeError: div_mod() got some positional-only arguments passed as keyword arguments: 'a, b'

### The operator module

In [48]:
from functools import reduce
from operator import mul
from operator import itemgetter, attrgetter, methodcaller

In [38]:
def factorial1(n):
    return reduce(lambda x,y: x*y, range(1, n+1))

In [37]:
def factorial2(n):
    return reduce(mul, range(1, n+1))

In [34]:
metro_data = [
    ("Tokyo", "JP", 36.933, (35.689722, 139.691667)),
    ("Delhi NCR", "IN", 21.935, (28.613889, 77.208889)),
    ("Mexico City", "MX", 20.142, (19.433333, -99.133333)),
    ("New York-Newark", "US", 20.104, (40.808611, -74.020386)),
    ("São Paulo", "BR", 19.649, (-23.547778, -46.635833)),
]

In [40]:
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [41]:
cc_name = itemgetter(1,0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'São Paulo')

A sibling of itemgetter is attrgetter which creates function to extract object attributes by name

In [42]:
from collections import namedtuple

In [44]:
LatLon = namedtuple('LatLon', 'lat lon')
Metropolis = namedtuple('Metropolis', ['name', 'cc', 'prop', 'coord'])

metro_areas = [ Metropolis(name, cc , prop, LatLon(lat, lon)) for name, cc, prop, (lat, lon) in metro_data]
metro_areas

[Metropolis(name='Tokyo', cc='JP', prop=36.933, coord=LatLon(lat=35.689722, lon=139.691667)),
 Metropolis(name='Delhi NCR', cc='IN', prop=21.935, coord=LatLon(lat=28.613889, lon=77.208889)),
 Metropolis(name='Mexico City', cc='MX', prop=20.142, coord=LatLon(lat=19.433333, lon=-99.133333)),
 Metropolis(name='New York-Newark', cc='US', prop=20.104, coord=LatLon(lat=40.808611, lon=-74.020386)),
 Metropolis(name='São Paulo', cc='BR', prop=19.649, coord=LatLon(lat=-23.547778, lon=-46.635833))]

In [47]:
sorted(metro_areas, key=attrgetter('coord.lat'))

[Metropolis(name='São Paulo', cc='BR', prop=19.649, coord=LatLon(lat=-23.547778, lon=-46.635833)),
 Metropolis(name='Mexico City', cc='MX', prop=20.142, coord=LatLon(lat=19.433333, lon=-99.133333)),
 Metropolis(name='Delhi NCR', cc='IN', prop=21.935, coord=LatLon(lat=28.613889, lon=77.208889)),
 Metropolis(name='Tokyo', cc='JP', prop=36.933, coord=LatLon(lat=35.689722, lon=139.691667)),
 Metropolis(name='New York-Newark', cc='US', prop=20.104, coord=LatLon(lat=40.808611, lon=-74.020386))]

In [49]:
s = "this time will never come back"
upcase = methodcaller('upper')
upcase(s)

'THIS TIME WILL NEVER COME BACK'

### Freezing argument with functools.partial

In [50]:
from functools import partial

In [51]:
triple = partial(mul, 3)

In [52]:
triple(7)

21