In [1]:
class ClassCoordinates:
    def __init__(self, lat, lon):
        self.lat = lat
        self.lon = lon

moscow = ClassCoordinates(55.76, 37.62)
moscow

In [2]:
location = ClassCoordinates(55.76, 37.62)

location == moscow

False

In [3]:
# collections.namedtuple

import collections

collection_namedtuple_Coordinate = collections.namedtuple('Coordinate', 'lat lon')
collection_namedtuple_Coordinate.__doc__

'Coordinate(lat, lon)'

In [4]:
issubclass(collection_namedtuple_Coordinate, tuple)

True

In [5]:
moscow = collection_namedtuple_Coordinate(55.76, 37.62)
moscow

Coordinate(lat=55.76, lon=37.62)

In [6]:
moscow == collection_namedtuple_Coordinate(55.76, 37.62)

True

In [7]:
import typing

In [8]:
typing_namedtuple_Coordinate = typing.NamedTuple('Coordinate', [('lon', float), ('lan', float)])
typing_namedtuple_Coordinate.__doc__

'Coordinate(lon, lan)'

In [9]:
typing_namedtuple_Coordinate = typing.NamedTuple('Coordinate', lon=float, lat=float)

In [10]:
# 
issubclass(typing_namedtuple_Coordinate, tuple)

True

In [11]:
# get type hint of the fields
typing.get_type_hints(typing_namedtuple_Coordinate)

{'lon': float, 'lat': float}

In [12]:
# Extend class with typing.NamedTuble

class ExtendedCoordinate(typing.NamedTuple):
    lat: float
    lon: float

    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >=0 else 'W'
        return f'{abs(self.lat):.1f} {ns}, {abs(self.lon):.1f} {we}'

issubclass(ExtendedCoordinate, tuple)

True

In [13]:
import dataclasses

@dataclasses.dataclass(frozen=True)
class DataclassCoordinate:
    lat: float
    lon: float

    def __str__(self):
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >=0 else 'W'
        return f'{abs(self.lat):.1f} {ns}, {abs(self.lon):.1f} {we}'

In [14]:
# classic named tuple

City = collections.namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.691))

In [15]:
tokyo.population, tokyo[2]

(36.933, 36.933)

In [16]:
# get fields names
tokyo._fields

('name', 'country', 'population', 'coordinates')

In [17]:
# get fields names and default values
tokyo._field_defaults

{}

In [18]:
# construct dict
tokyo._asdict()

{'name': 'Tokyo',
 'country': 'JP',
 'population': 36.933,
 'coordinates': (35.689, 139.691)}

In [19]:
# new instance with changes
tokyo._replace(country='japan')

City(name='Tokyo', country='japan', population=36.933, coordinates=(35.689, 139.691))

In [20]:
delhi_data = ('Delhi NCR', 'IN', 21.935, typing_namedtuple_Coordinate(28.613, 77.208))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=Coordinate(lon=28.613, lat=77.208))

In [21]:
City(*delhi_data)

City(name='Delhi NCR', country='IN', population=21.935, coordinates=Coordinate(lon=28.613, lat=77.208))

In [22]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': Coordinate(lon=28.613, lat=77.208)}

In [23]:
import json
json.dumps(delhi._asdict())

'{"name": "Delhi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613, 77.208]}'

In [24]:
# default in namedtuple

coordinate_default = collections.namedtuple('Coordinate', 'lat lon reference', defaults=['WGS84'])
coordinate_default(0, 0)

Coordinate(lat=0, lon=0, reference='WGS84')

In [25]:
# Typed NamedTuple

class TypingNamedTuple(typing.NamedTuple):
    lat: float
    lon: float
    reference: str = 'WGS84'

c = TypingNamedTuple(20.23, 55.66)
c

TypingNamedTuple(lat=20.23, lon=55.66, reference='WGS84')

In [26]:
c.__annotations__

{'lat': float, 'lon': float, 'reference': str}

In [27]:
c.reference

'WGS84'

In [28]:
c.lon = 30

AttributeError: can't set attribute

In [ ]:
# No runtime effect on anotation hints

trash = TypingNamedTuple('N/A', None)
trash

TypingNamedTuple(lat='N/A', lon=None, reference='WGS84')

### The meaning of Variable Anotations

In [ ]:
# Inspecting plain class

class DemoPlainClass:
    a: int
    b: float = 1.1
    c = 'spam'

DemoPlainClass.__annotations__

{'a': int, 'b': float}

In [ ]:
DemoPlainClass.a

AttributeError: type object 'DemoPlainClass' has no attribute 'a'

In [ ]:
DemoPlainClass.b

1.1

In [ ]:
DemoPlainClass.c

'spam'

In [ ]:
# Inspecting typing.NamedTuple

class DemoNTClass(typing.NamedTuple):
    a: int
    b: float = 1.1
    c: str = 'spam'

DemoNTClass.__annotations__

{'a': int, 'b': float, 'c': str}

In [ ]:
DemoNTClass.a

_tuplegetter(0, 'Alias for field number 0')

In [ ]:
DemoNTClass.b

_tuplegetter(1, 'Alias for field number 1')

In [ ]:
DemoNTClass.c

_tuplegetter(2, 'Alias for field number 2')

In [ ]:
nt = DemoNTClass(8)
nt.a, nt.b, nt.c

(8, 1.1, 'spam')

In [ ]:
nt.a = 99

AttributeError: can't set attribute

In [ ]:
# Inspecting decorator dataclass

@dataclasses.dataclass
class DemoDataClass:
    a: int
    b: float = 1.1
    c = 'spam'

DemoDataClass.__doc__

'DemoDataClass(a: int, b: float = 1.1)'

In [ ]:
DemoDataClass.a

AttributeError: type object 'DemoDataClass' has no attribute 'a'

In [ ]:
DemoDataClass.b, DemoDataClass.c

(1.1, 'spam')

In [ ]:
# dataclass field options

@dataclasses.dataclass
class ClubMember:
    name: str
    guests: list = []

ValueError: mutable default <class 'list'> for field guests is not allowed: use default_factory

In [ ]:
@dataclasses.dataclass
class ClubMember:
    name: str
    guests: list[str] = dataclasses.field(default_factory=list)
    athlete: bool = dataclasses.field(default=False, repr=False)

In [ ]:
# Post-init-Processing

@dataclasses.dataclass
class HackerClubMember(ClubMember):
    all_handles = set()
    handle: str = ""

    def __post_init__(self):
        cls = self.__class__
        if self.handle == "":
            self.handle = self.name.split()[0]
        
        if self.handle in cls.all_handles:
            msg = f'handle {self.handle!r} already exists'
            raise ValueError(msg)
        
        cls.all_handles.add(self.handle)

In [ ]:
coco = HackerClubMember("Coco Furball", handle="Cocosuper")
coco

HackerClubMember(name='Coco Furball', guests=[], handle='Cocosuper')

In [ ]:
mini = HackerClubMember("Mini Queen")
mini

HackerClubMember(name='Mini Queen', guests=[], handle='Mini')

In [ ]:
coco2 = HackerClubMember("Coco Furball", handle="Cocosuper")

ValueError: handle 'Cocosuper' already exists

In [ ]:
HackerClubMember.__doc__

"HackerClubMember(name: str, guests: list[str] = <factory>, athlete: bool = False, handle: str = '')"

In [ ]:
# Typed class attribute - anotation
@dataclasses.dataclass
class HackerClubMember(ClubMember):
    all_handles: typing.ClassVar[set[str]] = set()
    handle: str = ""

    def __post_init__(self):
        cls = self.__class__
        if self.handle == "":
            self.handle = self.name.split()[0]
        
        if self.handle in cls.all_handles:
            msg = f'handle {self.handle!r} already exists'
            raise ValueError(msg)
        
        cls.all_handles.add(self.handle)

In [ ]:
HackerClubMember.__doc__

"HackerClubMember(name: str, guests: list[str] = <factory>, athlete: bool = False, handle: str = '')"

In [46]:
# initialization of Variable that are not fields

class DatabaseType:
    pass

@dataclasses.dataclass
class C:
    i: int
    j: int = None
    database: dataclasses.InitVar[DatabaseType] = None     # InitVar will prevent database as a regual field

    # Only InitVar fields are passed as arguments to __post_init__.
    def __post_init__(self, database):   
        cls = self.__class__
        if database:
            print(f"Connected to db: {database}")

c = C(1, database=DatabaseType())

Connected to db: <__main__.DatabaseType object at 0x7f898dc9cbe0>

In [ ]:
# @dataclass example

import enum, datetime

class ResourceType(enum.Enum):  # <1>
    BOOK = enum.auto()
    EBOOK = enum.auto()
    VIDEO = enum.auto()

@dataclasses.dataclass
class Resource:
    """Media resource description."""
    identifier: str                          
    title: str = '<untitled>'                    
    creators: list[str] = dataclasses.field(default_factory=list)
    date: typing.Optional[datetime.date] = None
    type: ResourceType = ResourceType.BOOK
    description: str = ''
    language: str = ''
    subjects: list[str] = dataclasses.field(default_factory=list)

In [67]:

description = 'Improving the design of existing code'
book = Resource('978-0-13-475759-9', 'Refactoring, 2nd Edition',
                ['Martin Fowler', 'Kent Beck'], datetime.date(2018, 11, 19),
                ResourceType.BOOK, description,
                'EN', ['computer programming', 'OOP'])
print(book)

Resource(identifier='978-0-13-475759-9', title='Refactoring, 2nd Edition', creators=['Martin Fowler', 'Kent Beck'], date=datetime.date(2018, 11, 19), type=<ResourceType.BOOK: 1>, description='Improving the design of existing code', language='EN', subjects=['computer programming', 'OOP'])

In [68]:
class ResourceDict(typing.TypedDict):
    identifier: str
    title: str
    creators: list[str]
    date: typing.Optional[datetime.date]
    type: ResourceType
    description: str
    language: str
    subjects: list[str]


book_dict: ResourceDict = {
        'identifier': '978-0-13-475759-9',
        'title': 'Refactoring, 2nd Edition',
        'creators': ['Martin Fowler', 'Kent Beck'],
        'date': datetime.date(2018, 11, 19),
        'type': ResourceType.BOOK,
        'description': 'Improving the design of existing code',
        'language': 'EN',
        'subjects': ['computer programming', 'OOP']}

In [69]:
book2 = Resource(**book_dict)
print(book == book2)

True

In [77]:
# Pattern Matching

class City(typing.NamedTuple):
    continent: str
    name: str
    country: str


cities = [
    City('Asia', 'Tokyo', 'JP'),
    City('Asia', 'Delhi', 'IN'),
    City('North America', 'Mexico City', 'MX'),
    City('North America', 'New York', 'US'),
    City('South America', 'São Paulo', 'BR'),
]

# end::CITY[]

# tag::ASIA[]
def match_asian_cities():
    results = []
    for city in cities:
        match city:
            case City(continent='Asia'):
                results.append(city)
    return results
# end::ASIA[]

# tag::ASIA_POSITIONAL[]
def match_asian_cities_pos():
    results = []
    for city in cities:
        match city:
            case City('Asia'):
                results.append(city)
    return results
# end::ASIA_POSITIONAL[]


# tag::ASIA_COUNTRIES[]
def match_asian_countries():
    results = []
    for city in cities:
        match city:
            case City(continent='Asia', country=cc):
                results.append(cc)
    return results
# end::ASIA_COUNTRIES[]

# tag::ASIA_COUNTRIES_POSITIONAL[]
def match_asian_countries_pos():
    results = []
    for city in cities:
        match city:
            case City('Asia', _, country):
                results.append(country)
    return results
# end::ASIA_COUNTRIES_POSITIONAL[]


def match_india():
    results = []
    for city in cities:
        match city:
            case City(_, name, 'IN'):
                results.append(name)
    return results


def match_brazil():
    results = []
    for city in cities:
        match city:
            case City(country='BR', name=name):
                results.append(name)
    return results



def main():
    tests = ((n, f) for n, f in globals().items() if n.startswith('match_'))

    for name, func in tests:
        print(f'{name:15}\t{func()}')


main()

match_asian_cities	[City(continent='Asia', name='Tokyo', country='JP'), City(continent='Asia', name='Delhi', country='IN')]
match_asian_cities_pos	[City(continent='Asia', name='Tokyo', country='JP'), City(continent='Asia', name='Delhi', country='IN')]
match_asian_countries	['JP', 'IN']
match_asian_countries_pos	['JP', 'IN']
match_india    	['Delhi']
match_brazil   	['São Paulo']

In [ ]:
# positional arguments
City.__match_args__

('continent', 'name', 'country')